html {
    /* background-image: url('src/assets/img/fondo-login.webp'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen en el fondo */
    background-color: green; /* Color de fondo de respaldo */
    height: 100%; /* Ajusta la altura del HTML al 100% de la ventana gráfica */
    margin: 0; /* Elimina los márgenes predeterminados */
}

body {
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */
}

h1 {
    color: #FFE5EE;
    text-align: center;
    
}

 /*.imgLogin {  
    width: 10rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
     margin-top: 3rem;
    display: block;
}*/

.containerLogin {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    width: 50%;
    padding: 4rem;
    margin-bottom: 1rem;
    margin-left: 4.5rem;

}

.inputUser {
    margin-bottom: 1rem;

}

.inputLogin {
    width: 10rem;
    height: 2rem;

}

.inputPassword {
    width: 10rem;
    height: 2rem;

}

button {
    border-radius: 1rem;
    border: none;
    background-color: #FFE5EE;
    width: 10rem;
    height: 2rem;
    justify-items: center;
    margin-top: 1rem;
    font-weight: 600;
     
}