h1 {
    margin-bottom: 5rem;
}

img {
    height: 20rem;
    width: 20rem;
  }
  
  .card-movie {
    display: flex; 
    flex-wrap: wrap; 
    gap: 0.5rem; 
    justify-content: center;
    margin-top: -5rem;
  }
  
  .card {
    background-color: #ffffff99; 
      border-radius: 1rem; 
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); 
      padding: 1rem;
      width: calc(50% - 1rem); 
      box-sizing: border-box; 
  }
  
  .movie-name {
    text-align: center;
  }
  
  .movie-img {
   
    height: 20rem;
    margin-left: 14rem;
    border-radius: 0.5rem;
  }
  
  p {
    font-weight: bold;
    text-decoration: dashed;
  }
  
  .button-id {
    display: flex;
    margin-top: auto;
    margin-left: 23rem;
    margin-bottom: 2rem;
  }

  .movie-id {
    border-radius: 0.5rem;
    margin-left: 40rem;
  }