.html-home {
    background-image: url('src/assets/img/fondo-login.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    background-color: white;
    height: 100%; 
    margin: 0;
    padding-bottom: 4rem;
}



.headerHome {
    width: 100%;
    background-color: #FFE5EE;
    border-radius: 1rem;
}

.card-product {
    display: flex; 
    flex-wrap: wrap; 
    gap: 0.5rem; 
    justify-content: center;
    margin-top: -1rem;
}

.card {
    background-color: rgba(255, 255, 255, 0.6); 
    border-radius: 1rem; 
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); 
    padding: 1rem;
    width: calc(50% - 1rem); 
    box-sizing: border-box; 
    
}


img {
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
}

.name-product {
    font-size: 1.5rem;
}


.button-load-more {
    justify-items: center;
    background-color: #FFE5EE;
    margin-left: 9rem;
}


a:link {
    color: black; 
    text-decoration: none; 
  }


  a:visited {
    color:  #6F5346; 
  }

  a:hover {
    color: green; 
  }

 
  a:active {
    color: yellow;
}